---
layout: home
---
<div class="user-details">
<h2> 剑魄未改与这个网站 </h2>
<p style="text-align: justify;">  </p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=Tmt6EEL5cOl_kdSsHl8WusdRUfdSX_1ZIYn3OtrqmYI&cl=ffffff&w=a"></script>
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>数据结构继续更新ING</li>
	<li>计算机网络继续更新ING，但是这个我的理解肯定不够</li>
	<li>计算机组成原理暂时弃置</li>
	<li>计算机操作系统暂时弃置</li>
</ul>

</div >
