---
layout: home
---
<div class="user-details">
<h2> 剑魄未改与这个网站 </h2>
<p style="text-align: justify;">如果我的博客多多少少对您有所帮助的话，可以请您留下您的github账号或者博客地址，我很想了解看我博客的都是谁哈哈哈哈，很希望了解他人的一些看法，如果您不嫌麻烦的话可以请您联系zhaotengdu@gmail.com吗？嘻嘻</p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=Tmt6EEL5cOl_kdSsHl8WusdRUfdSX_1ZIYn3OtrqmYI&cl=ffffff&w=a"></script>
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>
<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>

<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>呜呜呜，开始面试啦</li>
</ul>

</div >
